---
import Carousel from "@/components/ui/astro/Carousel.astro";
import { logos } from "@/data/logos";

interface SkillItem {
    title: string;
    description: string;
}

interface Props {
    title?: string;
    subtitle?: string;
    skills: SkillItem[];
}

const { title, skills, subtitle } = Astro.props as Props;
---

<section class="w-full p-2">
    <div class="flex flex-col mx-auto max-w-6xl items-center justify-center">
        {
            title && (
                <h2 class="text-3xl md:text-4xl font-semibold text-center  text-foreground">
                    {title}
                </h2>
            )
        }
        {
            subtitle && (
                <p class="text-sm text-neutral-500 dark:text-neutral-400 animate-fade-up">
                    {subtitle}
                </p>
            )
        }
        <div class="mb-6 w-full">
            <Carousel tools={logos} />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-5xl mx-auto">
            {
                skills.map((skill) => (
                    <div class="card w-full bg-base-300 card-xl  shadow-lg transition-transform duration-200 hover:-translate-y-1 hover:elevate-lg">
                        <div class="card-body text-center items-center justify-center">
                            <h2 class="card-title text-3xl">{skill.title}</h2>
                            <p>{skill.description}</p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
